h1{
    color:aliceblue ;
    background-color:#f83A44;
    width: 450px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: snow;
    background-image: url(https://images.unsplash.com/photo-1543536448-d209d2d13a1c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fG1vdmllfGVufDB8fDB8fHww);
}

#movies{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #ff8370;
    font-weight: lighter;
    border: 2px solid #f83A44;
    background-image: url(https://plus.unsplash.com/premium_photo-1687533703061-d3d5a19ccd4b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fG1vdmllfGVufDB8fDB8fHww);
    background-size: cover;
}

#venues{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #ff8370;
    font-weight: lighter;
    border: 2px solid #f83A44;
    background-image: url(https://plus.unsplash.com/premium_photo-1687533703061-d3d5a19ccd4b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fG1vdmllfGVufDB8fDB8fHww);
    background-size: cover;
}

#submit{
    margin-left: 600px;
    font-family: 'Courier New', Courier, monospace;
}

#submit:hover{
    background-color: brown;
}