h1{
    color:aliceblue ;
    background-color:#f83A44;
    width: 450px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: brown;
}

#movies{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #ff8370;
    font-weight: lighter;
    border: 2px solid #f83A44;
}

#venues{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #ff8370;
    font-weight: lighter;
    border: 2px solid #f83A44;
}

#submit{
    margin-left: 600px;
    font-family: 'Courier New', Courier, monospace;
}

#submit:hover{
    background-color: brown;
}
