h1{
    color:aliceblue ;
    text-align: center;
    background-color: #f83a44;
    width: 450px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main{
    text-align: center;
    margin: left 400px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #ff8370;
    font-weight: lighter;
    border: 2px solid #f83A44;
}

#submit{
    font-family: 'Courier New', Courier, monospace;
}

#submit:hover{
    background-color: brown;
}

body{
    background-color: brown;
}

footer{
    position: absolute;
    background-color: dimgray;
    bottom: 0px;
}
