h1{
    color:aliceblue ;
    background-color: #66101f;
    width: 450px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bW92aWV8ZW58MHx8MHx8fDA%3D);
}

body{
    background-color: snow;
     background-color: #66101f;
}

main{
    background-color: salmon;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1535016120720-40c646be5580?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
     text-align:center;
    color: aliceblue;
}

div{
        font-family: Arial, Helvetica, sans-serif;
        width: 1300px;
        background-color: aliceblue;
}

a{
    text-decoration: none;
}
