h1{
    color:black ;
    background-color: aliceblue;
    width: 450px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aliceblue;
    font-weight: lighter;
    border: 2px solid aqua;
    text-align:center;
}

#submit{
    font-family: 'Courier New', Courier, monospace;
}

#submit:hover{
    background-color: brown;
}

body{
    background-color: aquamarine;
}
