/* MovieTicketBookingSystem.module.css */

.title {
    font-size: 2rem;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-family: Arial, sans-serif;
    /* Add any other styles you need for the title */
  }
  
  .title u{
    text-decoration: none;
  }
  
  .section{
      text-align: center;
  }

  .section p{
    font-size: 20px;
  }
  
  .img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
  