/* Header styles */

/* Navbar styles */
.navbar {
  background-color: black;

}


.navbar_left a{
  margin: 0;
  padding-left: 1em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
}

.navbar_right ul {
  list-style: none;
  margin: 0;
  padding: 0;

}


.navbar_right a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background-color: black;

  transition: background-color 0.3s; /* Added smooth transition effect */
}

.navbar_right a:hover {
  background-color: azure;
  color: black; /* Darker background on hover */
}

/* header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
} */

.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_container {
  display: flex;
}


.navbar_right ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar_right h1 {
  margin: 0;
  margin-right: 20px;
}

.navbar_right li {
  margin-right: 20px;
}