body{
    background-color: snow;
}

h1{
    color:aliceblue ;
    background-color: #f83a44;
    width: 1000px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#booking{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #ff8370;
    font-weight: lighter;
    border: 2px solid #f83A44;
}

#booking2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #ff8370;
    font-weight: lighter;
    border: 2px solid #f83A44;
}

#submit{
    font-family: 'Courier New', Courier, monospace;
}

#submit:hover{
    background-color: brown;
}

#payment{
    font-family: Arial, Helvetica, sans-serif;
    width: 1300px;
    border: 2px solid dimgray;
    background-color: aliceblue;
}